<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CapViewDelay</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D9DD6F35ABF728650F6198A42DB45CC784AC025B</string>
				<key>dateExpires</key>
				<string>6/23/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.temporary-exception.shared-preference.read-write</key>
				<array>
					<string>com.apple.screencaptureui</string>
				</array>
			</dict>
			<key>name</key>
			<string>CapViewDelay.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D35JB5CDG2</string>
				<key>name</key>
				<string>Nuwa Pen B.V.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
